/* gym_facilities.css */

#root-container {
    -fx-background-color: #f0f0f0; /* Background color */
}

.table-view {
    -fx-border-color: #cccccc; /* Table border color */
    -fx-border-width: 1px; /* Table border width */
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9; /* Alternate row color */
}

.table-column {
    -fx-alignment: CENTER; /* Table column alignment */
}

.action-button {
    -fx-background-color: #4CAF50; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-font-weight: bold; /* Button font weight */
    -fx-padding: 8px 14px; /* Button padding */
    -fx-font-size: 14px; /* Button font size */
    -fx-border-radius: 5px; /* Button rounded corners */
    -fx-border-color: transparent; /* Button border color */
}

.action-button:hover {
    -fx-background-color: #45a049; /* Hover background color */
}